@model IEnumerable<Entity.Concrete.Comment>



            
<div class="pt-5">
    <ul class="comment-list">
        @foreach (var i in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="/miniblog/images/person_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@i.UserName</h3>
                    <div class="meta">@i.CommentDate</div>
                    <p>@i.CommentText</p>
                </div>
            </li>
        }

    </ul>
    <!-- END comment-list -->

    @Html.Action("LeaveComment", "Comment")
</div>
