@Model IEnumerable<Entity.Concrete.Category></Entity.Concrete.Category>


<div>
    <table>
        <tr>
            <th>Id </th>
            <br />
            <th>Category Name</th>
        </tr>
        @foreach(var item in Model)
            {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
            }
    </table>
</div>

